header {
  background-image: url('../assets/logos/logo_with_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Set the font size for the entire HTML document */
html {
  font-size: 16px;
}

body {
  background-image: url('../assets/accounts_bg.png');
  background-size: 100% 100% auto cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Arial, sans-serif;
  height: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 150px;
}

.titlelogo {
  background-image: url('../assets/logos/logo_with_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
