.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  /* Styling for the form container */
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 5px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  max-width: 100%;
  max-height: none;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin: auto;
}

.form input {
  /* Styling for input fields */
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
}

.form button {
  /* Styling for buttons */
  background-color: #3897f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
}

.form button:hover {
  /* Hover effect for buttons */
  background-color: #3182ce;
}

.message {
  /* Styling for messages */
  color: #8e8e8e;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

.message a {
  /* Styling for links in messages */
  color: #3897f0;
  text-decoration: none;
}

.message a:hover {
  /* Hover effect for links in messages */
  text-decoration: underline;
}

.message1 {
  /* Styling for additional messages */
  text-align: center;
  margin-top: 16px;
  font-size: 19.2px;
  display: flex;
  justify-content: center;
}

.message1 a {
  /* Styling for links in additional messages */
  color: #3897f0;
  text-align: center;
}

.message1 a:hover {
  /* Hover effect for links in additional messages */
  text-decoration: underline;
}

footer {
  /* Styling for the footer */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(248, 248, 248, 0);
  color: #333;
  font-size: 14px;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
}

footer a {
  /* Styling for links in the footer */
  color: #3897f0;
  text-decoration: none;
}
